@import "../../assets/scss/color-theme.scss";


.terms-conditions-section {
  background-color: $primary;
  padding: 20px 0px;
  margin-bottom: 30px;

  h3 {
    margin-bottom: 0px;
    color: $white;
  }
}